body {
    background-repeat: repeat;
    font-family: 'Baloo Thambi';
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F4BE5C;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color:#FCAF1F;
}

li a, .dropbtn {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
    background-color: #F08913;
}

.lateral {
    background-color: #283F4D;
    padding-top: 2%;
    color: white;
    text-shadow: 3px 2px black;
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
}

.menu {
    margin-left: 351px;
    position: fixed;
    top: 0;
    width: 74%;
}

.centro {
    margin-left: 351px;
    margin-top: 45px;
    height: 120%;
    background-color: rgba(235, 191, 142, 0.705);
}

.titulo{
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 1px black;
    margin-right: 18%;
    margin-top: 8%; 
    width: 600px;
    float: right;
}

.rodape{
    margin-top:0%;
    margin-left: 351px;
    padding: 2%;
    width: 74%;
    background-color: rgb(21, 44, 58);
    text-align: center;
    color: white;
    text-shadow: 3px 2px black;
}

#logo {
    width: 350px;
    height: auto;
}

#area {

  top:25%;
  width:900px;
  height:150px;
}

#area #formulario {
  position:absolute;
  display:block;   
}

fieldset {
  width:330px;
  height:270px;
}

legend {
  font-style:bold;
}

#formulario label {
  position:absolute;
  left:19px;
  margin-right:5px;
}
 
#formulario input.campo_nome {
  position:absolute;
  left:95px;
  top:23px;
  width:225px;
}

#formulario input.campo_email {
  position:absolute;
  left:95px;
  margin-top:2px;
  width:225px;
}

#formulario input.telefone {
    position:absolute;
    left:95px;
    margin-top:2px;
    width:225px;
  }

#formulario textarea {
    position:absolute;
    left:19px;
  }

  #formulario input.btn_submit {
    position:absolute;
    top: 250px;
    left:19px;
    margin-right:5px;
  }