body {
    background-repeat: repeat;
    font-family: 'Baloo Thambi';
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F4BE5C;
}

li {
    float: left;
}

li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
}

li a:hover:not(.active) {
    background-color:#FCAF1F;
}

li a, .dropbtn {
  display: block;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}


.active {
    background-color: #F08913;
}

.lateral {
    background-color: #283F4D;
    padding-top: 2%;
    color: white;
    text-shadow: 3px 2px black;
    text-align: center;
    font-size: 30px;
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
}

.menu {
    margin-left: 351px;
    position: fixed;
    top: 0;
    width: 75%;
}

.centro {
    margin-left: 351px;
    margin-top: 45px;
}

.pratos{
    margin-left: 0.2%;

}

.rodape{
    margin-top: 1%;
    margin-left: 351px;
    padding: 2%;
    width: 74.3%;
    background-color: rgb(21, 44, 58);
    text-align: center;
    color: white;
    text-shadow: 3px 2px black;
}

div.galeria {
    margin: 5px;
    background-color: #F4BE5C;
    border: 1px solid #F4BE5C;
    color: white;
    text-shadow: 2px 1px black;
    float: left;
    width: 300px;
    transition: background-color 0.5s;
}

div.galeria:hover {
    border: 1px solid #FC8A1F;
    background-color: #F08913;
}

div.galeria img {
    width: 100%;
    height: 40%;
}

div.galeria2 {
    display: none;
    margin: 5px;
    background-color: #F4BE5C;
    border: 1px solid #F4BE5C;
    color: white;
    text-shadow: 2px 1px black;
    float: left;
    width: 300px;
    transition: background-color 0.5s;
}

div.galeria2:hover {
    border: 1px solid #FC8A1F;
    background-color: #F08913;
}

div.galeria2 img {
    width: 100%;
    height: 40%;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.botao {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family: 'Baloo Thambi';
    outline: none;
    color:  white;
    background-color:  #F4BE5C;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px black;
}

.botao:hover {
    background-color: #FCAF1F;
}

.botao:active {
    background-color: #FC8A1F;
    box-shadow: 0 5px black;
    transform: translateY(4px);
}
#logo {
    width: 350px;
    height: auto;
}

#galeria_pratos{
    width: 950px;
    height: auto;
    margin-left: 3%;
}