<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="screen" href="css/cc-estilo.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Baloo Thambi' rel='stylesheet'>
    <title>Cadastre-se!</title>
    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.mask.min.js"/></script>
</head>
<body background="img/pattern22.png">
    
    <div class = "lateral">
        <h3>Junte-se ao Gudetama no seu mais novo cafe em Quixadá!</h3>
        <img src="img/LOGO.png" alt="" id="logo">
    </div>

    <div class="menu">
        <ul>
            <li><a  href="/home">Início</a></li>
            <li><a   href="/listar">Galeria de Pratos</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
            
            <li class = "active" style="float:right"><a href="/cadastroCliente">Cadastre-se!</a></li>
            <li style="float:right"><a href="/login">Login</a></li>
            <li class="dropdown" style="float:right">
            <a  href="javascript:void(0)" class="dropbtn">Delivery</a>
            <div class="dropdown-content">
				<a href="/carrinho">Carrinho</a> 
				<a href="/pedidos">Meus Pedidos</a> 
			</div>
            </li>
		</ul>
    </div>

    <div class = "centro">
        <div class="titulo">
            <h1>Cadastro de Clientes</h1>
        </div>
        <div id ="area">
			
		</div>
		<form action="/salvarCliente" method="POST" th:object="${cliente}">
			<div class="alert alert-success" role="alert"
				th:if="${!#strings.isEmpty(mensagem)}">

				<span th:text="${mensagem}"></span>

			</div>

			<div class="alert alert-danger" role="alert"
				th:if="${#fields.hasAnyErrors()}">
				<div th:each="detailedError : ${#fields.detailedErrors()}">
					<span th:text="${detailedError.message}"></span>
				</div>
			</div>

			<input type="hidden" th:field="*{idcliente}">
			<div class="form-group">
					<label for="exampleInputEmail1">Nome</label> 
					<input type="text" class="form-control" th:field="*{nome}" placeholder="Digite seu nome">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">CPF</label> <input
						type="text" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" th:field="*{cpf}" placeholder="Digite seu CPF (Apenas números)">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Data de Nascimento</label> <input
						type="text" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" th:field="*{data_nasc}" placeholder="Ex: 11/08/1997">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Endereço</label> <input
						type="text" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" th:field="*{endereco}" placeholder="Digite seu endereço">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">E-mail</label> <input
						type="email" class="form-control" id="exampleInputEmail1"
						aria-describedby="emailHelp" th:field="*{email}" placeholder="Ex: exemplo@meusite.com">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Senha</label> <input
						type="password" class="form-control" th:field="*{senha}" id="exampleInputPassword1"
						placeholder="Ex: 123">
				</div>
				
				<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
    </div>

    <div class="rodape">
        Gudetama Cafe © - Fundado em 27/03/2019 <br>
        (88) 9-6747-5654 - Densevolvido por: Maria Beatriz
    </div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>